<h2>Update Employee</h2>
<form (ngSubmit)="updateEmployee()" #employeeForm="ngForm">
    <div class="form-group">
        <label for="name">Name:</label>
        <input [(ngModel)]="employee.name"  placeholder="Name" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="surname">Surname:</label>
        <input [(ngModel)]="employee.surname" placeholder="Surname" name="surname" class="form-control" id="surname">
    </div>
    <div class="form-group">
        <label for="phone">Phone:</label>
        <input [(ngModel)]="employee.phone" placeholder="Phone" name="phone" class="form-control" id="phone">
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>